<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RNS-TASK</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <noscript>Please enable javascript to run this application.</noscript>

    <div class="buyNsell-container">
        <div class="form">
            <div class="hint">
                <p>Hint: </p>
            </div>
            <form action="/" method="POST">
                <div class="input-field">
                    <input type="number" min="1" max="" name="price">
                    <input type="submit" value="sell" name="side" class="btn btn-danger">
                    <input type="submit" value="buy" name="side" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>

    <div class="available-trade-container">
        <p>Available to trade:</p>
        <ul class="available-list">
            <!-- <li class="sell">Sell: 12</li>
            <li class="buy">buy: 14</li> -->
                <%  data.forEach((item)=>{ %>
                    <li><%= item.side %> : <%= item.price%> </li>
              <% }) %>
                    
        </ul>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
    </script>
    <script src="/static/index.js"></script>

</body>

</html>